body {
  background-color: rgb(58, 58, 58);
  border: 5px solid black;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  border: 5px dashed rgb(47, 154, 255);
  margin: 10px;
  font-size: xx-large;
}

h3,
p,
.search {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

input,
button {
  margin-bottom: 20px;
  border: 1px solid black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid red;
  height: 544px;
  width: 354px;
}

.recipe-list {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  display: contents;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
}

/*testing drop down*/

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: crimson;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(83, 6, 22);
} */

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.errorModalShow {
  display: block;
}

.errorModalHide {
  display: none;
}
